:root {
    --color_boton: #16FFBB;
    --color_primario_suave: #2F455C;
    --color_borderAzul: #37A7E7;
    --color_secundario: #D32F2F;
    --color_font: #fff;
    --color_blancoSubT: #DFE3E5;
    --color_amarillo: #FDB00B;
    --color_iconos: #F57C00;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --padinTopBottonMobile: 25px;
    --padinTopBottonTablet: 35px;
    --padinTopBottonPc: 5rem;
    --padingLeftAndRightTablet: 70px;
    --padingLeftAndRightPc: 8rem;
    --ancho_maximo: 1200px;
    --backgroundButtons: #325F7B;
    --fontServicios: #2B4150
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../images/backgroundWeb.jpg');
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header {
    height: var(--altura_header);

}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
    border-bottom: 1px solid #1C9DB3;
    box-shadow: 0 4px 15px rgba(0, 255, 221, 0.3);

}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked+.ul_links {
    height: calc(100vh - var(--altura_header));
}

.logo {
    color: var(--color_blanco);
}

.labe_hamburguesa {
    color: var(--color_font);
}

.list_icon {
    color: var(--color_font);
    cursor: pointer;
}

.ul_links {
    width: 100%;
    background-image: url('../images/backgroundWeb.jpg');
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 3rem;
    transition: all .3s;

}

#liInicio {
    margin-top: 3rem;

}

.li_links {}

.link {
    font-size: 1.5rem;
    color: var(--color_font);
    font-weight: bold;

}

.link a:hover {
    color: #00ffff;
    text-decoration: underline;
    transition: color 0.3s, text-decoration 0.3s;
}

.logoNavbar {
    border-radius: 50%;
    height: 40px
}


/* Footer  */

.copy {
    background-color: #212121;
    color: var(--color_font);
    text-align: center;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer {
    display: grid;
    padding: 0 var(--padding_left_right);
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #1C9DB3;
    box-shadow: 0 4px 15px rgba(0, 255, 221, 0.3);
    /* Sombra suave */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding-bottom: 1rem;
    color: var(--color_font);
}

.info h3 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.info p {
    text-align: justify;
    hyphens: auto;
}

.footerContacto {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding-bottom: 1rem;
    color: var(--color_font);
}

.footerContacto h3 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.footerContacto ul {
    text-align: center;
}

.footerContacto li {
    list-style-type: none;
}

.footerContacto li a {
    text-decoration: none;
    color: var(--color_font);
}

li a:hover {
    color: #00ffff;
    text-decoration: underline;
    transition: color 0.3s, text-decoration 0.3s;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding-bottom: 1rem;
    color: var(--color_font);
}

.ubicacion h3 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.ubicacion ul {
    text-align: center;

}

.ubicacion ul li a {
    color: var(--color_font);
}

.ubicacion ul li a i {
    color: var(--color_font);
}

.soloEnMobile {
    width: 100%;
    border: 1px dotted var(--color_font);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* fin footer  */

/* boton whatsapp  */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}


.whatsapp-button i {
    font-size: 40px;
    color: #fff;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

/* fin whatsapp  */

/* -----portada-----  */

.secPortada {
    padding: 0 var(--padding_left_right);
    padding-top: var(--padinTopBottonMobile);
    padding-bottom: 35px;
}

.contenedorImg img {
    display: none;
}

.contenedorPortada {}

.contenedorTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorTxt h1 {
    color: #29DDDA;
    margin-bottom: 1rem;
    text-align: center;
}

.contenedorTxt p {
    color: var(--color_blancoSubT);
    text-align: justify;
    hyphens: auto;
    margin-bottom: 1.5rem;
}


.contenedorButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.btnPortada {
    padding: 5px 20px;
    border: 2px solid #00ffdd;
    border-radius: 8px;
    background-color: transparent;
    color: #00ffdd;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btnPortada:hover {
    background-color: #00ffdd;
    color: #1a1a1a;
    box-shadow: 0 4px 15px rgba(0, 255, 221, 0.3);
    transform: scale(1.05);
    /
}


/* fin portada  */



/* mi visión  */

.secMivision {

    padding: var(--padinTopBottonMobile) var(--padding_left_right);
}

.secMivision h2 {
    color: #29DDDA;
    padding-bottom: 1.5rem;
    text-align: center;
}

.secMivision h3 {
    color: var(--color_font);
    padding-bottom: 0.5rem;
    text-align: center;
}

.secMivision p {
    color: var(--color_blancoSubT);
    text-align: justify;
    hyphens: auto;
    margin-bottom: 1.5rem;
}

.contenedorMiVision {}

.contImgVision {
    display: none;
}

.contInfo {}

.infoDosColum {}

.infoVal {
    border: 2px solid;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 255, 221, 0.3);
}

.infoVal:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 255, 221, 0.3);
}

#infoVerde {
    border-color: #16FFBB;
}

#infoCian {
    border-color: #29DDDA;
}

.infoCreatividad {
    border: 2px solid #37A7E7;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 255, 221, 0.3);
}

.infoCreatividad:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 255, 221, 0.3);
}


/* experiencia  */

.secExperiencia {
    color: #fff;
    padding: var(--padinTopBottonMobile) var(--padding_left_right);
}

.secExperiencia h2 {
    margin-bottom: 1rem;
}

.contenedorGenerarExp {
    margin-top: 1rem;
}

.infoExp {
    padding-bottom: 1rem;

}

.infoExp h3 {
    margin-bottom: 0.5rem;
}

.infoExp ul li i {
    font-size: 20px;
    color: #00FFFF;
    margin-right: 5px;
}

/* efecto escritura js  */
.typing {
    font-size: 24px;
    font-weight: bold;
    color: #29DDDA;
    border-right: 2px solid #37A7E7;
    /* Simula el cursor */
    animation: blink 0.7s infinite;
    min-height: 3rem;
}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #37A7E7;
    }
}


/* servicios  */

.secServicios {
    padding: var(--padinTopBottonMobile) var(--padding_left_right);
}

.secServicios h2 {
    color: #37A7E7;
    margin-bottom: 1.5rem;
}


.card-servicio {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-right: 2px dashed #00ffdd;
}

.icono-circulo {
    padding-left: 0.3rem;
    border-left: 2px solid #00ffdd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ffdd;
    font-size: 1.5rem;
    font-weight: bold;
}

.contenido h3 {
    margin: 0;
    font-weight: 700;
    color: #fff;
}

.contenido p {
    margin: 0;
    color: #ccc;
}



/* •---------------------RESPONSIVE MOBILE FRIST---------------------• */

@media (min-width: 576px) {

    /* portada  */

    .secPortada {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .contenedorButton {
        flex-direction: row;
    }


    /* mi visión  */

    .secMivision h2 {
        margin-bottom: 2rem;
    }

    .secMivision h3 {
        padding-top: 2rem;
    }

    .secMivision p {
        padding: 10px;
    }

    .infoVal {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 3rem;
        padding: 0 var(--padding_left_right);
    }

    .infoCreatividad {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 3rem;
        padding: 0 var(--padding_left_right);
    }

    /* experiencia  */

    .secExperiencia {
        color: #fff;
        padding-left: 4rem;
        padding-right: 4rem;
    }


    .contenedorGenerarExp {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }


    /* servicios  */

    .secServicios {
        padding-left: 4rem;
        padding-right: 4rem;
    }




}


@media (min-width:768px) {
    * {
        font-size: 16px;
    }

    #liInicio {
        margin-top: 0;
    }

    /* navbar */
    .labe_hamburguesa {
        display: none;
    }

    .ul_links {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
        background: none;
    }


    .link {
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }

    /* footer  */
    footer {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /* portada  */

    .secPortada {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .secPortada h1 {
        font-size: 1.5rem;
    }

    .contenedorImg img {
        display: block;
    }

    .contenedorPortada {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contenedorImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedorImg img {
        width: 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;

    }

    .contenedorTxt {
        padding-right: var(--padinTopBottonMobile);
    }

    .contenedorTxt h1 {
        text-align: left;
    }

    .contenedorButton {
        justify-content: left;
    }

    /* mi visión  */



    .contImgVision img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .infoDosColum {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* experiencia  */


    .secMivision h2 {
        font-size: 24px;
    }

    /* servicios  */

    .secServicios {}

    .secServicios h2 {
        font-size: 24px;
    }

}

@media (min-width: 992px) {

    * {
        font-size: 18px;
    }

    .soloEnMobile {
        display: none;
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
    }

    /* portada  */

    .secPortada h1 {
        font-size: 30px;
    }

    /* mi visión  */

    .secMivision h2 {
        font-size: 28px;
    }


    .contenedorMiVision {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .contImgVision {
        background-image: url('../images/backgroundImgVision.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .infoVal {
        margin: 0 1rem;
        margin-bottom: 2rem;
        padding: 0 10px;
    }

    .infoVal h3 {
        padding: 1rem;
    }

    .infoCreatividad {
        margin: 0 1rem;
        margin-bottom: 2rem;
        padding: 0 10px;

    }

    .infoCreatividad h3 {
        padding: 1rem;
    }

    /* experiencia  */

    .typing {
        font-size: 28px;
    }


    /* servicios  */

    .secServicios h2 {
        font-size: 28px;
    }

}

@media (min-width: 1200px) {

    * {
        font-size: 20px;
    }

    /* protada  */

    .secPortada {
        padding: 2.5rem 5rem;
    }

    .contenedorTxt h1 {
        text-align: left;
        font-size: 45px;
    }


    /* mi visión  */
    .secMivision {
        padding: 2.5rem 5rem;

    }

    .secMivision h2 {
        font-size: 35px;
    }


    /* experiencia  */

    .secExperiencia {
        padding: 2.5rem 5rem;
    }

    .typing{
        font-size: 35px;
    }

    /* servicios  */

    .secServicios {
        padding: 2.5rem 5rem;
    }

    .secServicios h2 {
        font-size: 35px;
    }

}

@media (min-width: 1600px) {

    * {
        font-size: 22px;
    }

    /* navbar  */
    .logoNavbar {
        height: 60px;
    }


    /* portada  */

    .secPortada {
        padding: 3rem 8rem;
    }

    .contenedorTxt h1 {
        text-align: left;
        font-size: 60px;
    }


    /* mi visión  */
    .secMivision {
        padding: 3rem 8rem;
    }

    .secMivision h2 {
        font-size: 50px;
    }

    /* experiencia  */

    .secExperiencia {
        padding: 3rem 8rem;
    }

    .typing{
        font-size: 50px;
    }

    /* servicios  */

    .secServicios {
        padding: 3rem 8rem;
    }

    .secServicios h2 {
        font-size: 50px;
    }

}